# 不要上传 IDE 配置文件
# Do not upload your IDE configurations.
.idea
.vscode

# 不要上传实验结果！
# Do not upload your experimental results!
expTest
exp
.exp

# 不要上传可执行文件！
# Do not upload your executable files!
**/*.exe

# 不要上传大文件
# Do not upload large files!
**/*.zip
**/*.out
**/*.csv
!data/
!data/selectedTxs_300K.csv

# 不要上传 macOS 自动生成的隐藏文件
.DS_Store
